attrs==23.1.0
brother-ql==0.9.4
cadquery==2.3.1
cadquery-ocp==7.7.0
casadi==3.6.3
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
ezdxf==1.0.3
future==0.18.3
gs-usb==0.3.0
gyp==0.1
idna==3.7
msgpack==1.0.7
multimethod==1.9.1
nlopt==2.7.1
nptyping==2.0.1
numpy==1.25.2
packaging==23.2
packbits==0.6
path==16.7.1
Pillow==10.1.0
PyJWT==2.6.0
pyparsing==3.1.1
pypng==0.20220715.0
python-can==4.2.2
python-dotenv==1.0.1
pyusb==1.2.1
qrcode==7.4.2
reportlab==4.2.2
requests==2.32.3
treepoem==3.23.0
typing-extensions==4.7.1
typish==1.9.3
urllib3==2.2.2
wrapt==1.15.0
